@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--brand-color: #0D8BFF;
--button-color: #00B69B;
}

body{
 color: #131313;
 font-size: 0.875rem;
 line-height: 1.25rem;
 font-weight: 400;
}

.active{
  background-color: var(--brand-color);
  color: white;
}

.classInput::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .classInput::-moz-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .classInput:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }